In [1]:
import pymysql

host = '127.0.0.1'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host,
                      port=port,
                      user=user,
                      passwd=passwd,
                      db=db,
                      charset=charset)

cursor = conn.cursor()

In [3]:
sql = """
insert into Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
values ('001', 'jay', '001', 50, 'M', '50000', '2020-7-19 10:36:10');
"""

In [4]:
cursor.execute(sql)

1

In [5]:
conn.commit()

In [6]:
import time

In [8]:
dt = time.strftime('%Y-%m-%d %H:%M:%S')

sql = """
insert into Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
values ('002', 'Ted', '001', 50, 'M', '50000', '{}');
""".format(dt)

cursor.execute(sql)

1

In [9]:
conn.commit()

In [10]:
sql = """DELETE FROM Staff;"""
cursor.execute(sql)
conn.commit()

In [11]:
cursor.close()
conn.close()