In [1]:
import pymysql

host = '127.0.0.1'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host,
                      port=port,
                      user=user,
                      passwd=passwd,
                      db=db,
                      charset=charset)

cursor = conn.cursor()

In [2]:
import json
with open('./staff.json', 'r') as f:
    jsondata = json.loads(f.read())
jsondata

{'001': {'ID': '001',
  'Name': 'Jay',
  'DeptId': '001',
  'Age': '50',
  'Gender': 'M',
  'Salary': '56000'},
 '002': {'ID': '002',
  'Name': 'Jenny',
  'DeptId': '001',
  'Age': '30',
  'Gender': 'F',
  'Salary': '47000'},
 '003': {'ID': '003',
  'Name': 'Rick',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'David',
  'DeptId': '003',
  'Age': '47',
  'Gender': 'M',
  'Salary': '45000'},
 '005': {'ID': '005',
  'Name': 'Jake',
  'DeptId': '002',
  'Age': '32',
  'Gender': 'M',
  'Salary': '55000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '001',
  'Age': '25',
  'Gender': 'F',
  'Salary': '40000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '003',
  'Age': '80',
  'Gender': 'M',
  'Salary': '90000'},
 '008': {'ID': '008',
  'Name': 'Eric',
  'DeptId': '001',
  'Age': '26',
  'Gender': 'M',
  'Salary': '85000'}}

In [5]:
import time
dt = time.strftime('%Y-%m-%d %H:%M:%S')
[tuple(jsondata[r].values()) + (dt, ) for r in jsondata]

[('001', 'Jay', '001', '50', 'M', '56000', '2020-07-19 11:15:59'),
 ('002', 'Jenny', '001', '30', 'F', '47000', '2020-07-19 11:15:59'),
 ('003', 'Rick', '002', '45', 'M', '50000', '2020-07-19 11:15:59'),
 ('004', 'David', '003', '47', 'M', '45000', '2020-07-19 11:15:59'),
 ('005', 'Jake', '002', '32', 'M', '55000', '2020-07-19 11:15:59'),
 ('006', 'Abby', '001', '25', 'F', '40000', '2020-07-19 11:15:59'),
 ('007', 'Trump', '003', '80', 'M', '90000', '2020-07-19 11:15:59'),
 ('008', 'Eric', '001', '26', 'M', '85000', '2020-07-19 11:15:59')]

In [7]:
jsondata['001']

{'ID': '001',
 'Name': 'Jay',
 'DeptId': '001',
 'Age': '50',
 'Gender': 'M',
 'Salary': '56000'}

In [8]:
jsondata['001'].values()

dict_values(['001', 'Jay', '001', '50', 'M', '56000'])

In [9]:
jsondata['001'].keys()

dict_keys(['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary'])

In [12]:
for k in jsondata:
    print(jsondata[k].values())

dict_values(['001', 'Jay', '001', '50', 'M', '56000'])
dict_values(['002', 'Jenny', '001', '30', 'F', '47000'])
dict_values(['003', 'Rick', '002', '45', 'M', '50000'])
dict_values(['004', 'David', '003', '47', 'M', '45000'])
dict_values(['005', 'Jake', '002', '32', 'M', '55000'])
dict_values(['006', 'Abby', '001', '25', 'F', '40000'])
dict_values(['007', 'Trump', '003', '80', 'M', '90000'])
dict_values(['008', 'Eric', '001', '26', 'M', '85000'])

In [13]:
for k in jsondata:
    tmp_result = jsondata[k].values()
    print(tuple(tmp_result))

('001', 'Jay', '001', '50', 'M', '56000')
('002', 'Jenny', '001', '30', 'F', '47000')
('003', 'Rick', '002', '45', 'M', '50000')
('004', 'David', '003', '47', 'M', '45000')
('005', 'Jake', '002', '32', 'M', '55000')
('006', 'Abby', '001', '25', 'F', '40000')
('007', 'Trump', '003', '80', 'M', '90000')
('008', 'Eric', '001', '26', 'M', '85000')

In [14]:
emp_list = []
for k in jsondata:
    tmp_result = jsondata[k].values()
    emp_list.append(tuple(tmp_result))

emp_list

[('001', 'Jay', '001', '50', 'M', '56000'),
 ('002', 'Jenny', '001', '30', 'F', '47000'),
 ('003', 'Rick', '002', '45', 'M', '50000'),
 ('004', 'David', '003', '47', 'M', '45000'),
 ('005', 'Jake', '002', '32', 'M', '55000'),
 ('006', 'Abby', '001', '25', 'F', '40000'),
 ('007', 'Trump', '003', '80', 'M', '90000'),
 ('008', 'Eric', '001', '26', 'M', '85000')]

In [15]:
import time
dt = time.strftime('%Y-%m-%d %H:%M:%S') # string
emp_list = []
for k in jsondata:
    tmp_result = jsondata[k].values()
    tmp_tuple = tuple(tmp_result) + (dt, )
    emp_list.append(tmp_tuple)

emp_list

[('001', 'Jay', '001', '50', 'M', '56000', '2020-07-19 11:22:49'),
 ('002', 'Jenny', '001', '30', 'F', '47000', '2020-07-19 11:22:49'),
 ('003', 'Rick', '002', '45', 'M', '50000', '2020-07-19 11:22:49'),
 ('004', 'David', '003', '47', 'M', '45000', '2020-07-19 11:22:49'),
 ('005', 'Jake', '002', '32', 'M', '55000', '2020-07-19 11:22:49'),
 ('006', 'Abby', '001', '25', 'F', '40000', '2020-07-19 11:22:49'),
 ('007', 'Trump', '003', '80', 'M', '90000', '2020-07-19 11:22:49'),
 ('008', 'Eric', '001', '26', 'M', '85000', '2020-07-19 11:22:49')]

In [16]:
sql = """
insert into Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
values (%s, %s, %s, %s, %s, %s, %s);
"""

In [17]:
cursor.executemany(sql, emp_list)

8

In [18]:
conn.commit()

In [19]:
cursor.close()
conn.close()