In [1]:
import pymysql

host = '127.0.0.1'
port = 3306
user = 'root'
passwd = 'root'
db = 'TESTDB'
charset = 'utf8mb4'

conn = pymysql.connect(host=host,
                      port=port,
                      user=user,
                      passwd=passwd,
                      db=db,
                      charset=charset)

cursor = conn.cursor()

In [2]:
sql = """
select * from Staff;
"""

In [3]:
cursor.execute(sql)

8

In [4]:
cursor.fetchone()

('001',
 'Jay',
 '001',
 50,
 'M',
 56000,
 datetime.datetime(2020, 7, 19, 11, 22, 49))

In [5]:
cursor.fetchone()

('002',
 'Jenny',
 '001',
 30,
 'F',
 47000,
 datetime.datetime(2020, 7, 19, 11, 22, 49))

In [6]:
cursor.fetchone()

('003',
 'Rick',
 '002',
 45,
 'M',
 50000,
 datetime.datetime(2020, 7, 19, 11, 22, 49))

In [7]:
cursor.fetchone()

('004',
 'David',
 '003',
 47,
 'M',
 45000,
 datetime.datetime(2020, 7, 19, 11, 22, 49))

In [8]:
cursor.fetchone()
cursor.fetchone()
cursor.fetchone()
cursor.fetchone()

('008',
 'Eric',
 '001',
 26,
 'M',
 85000,
 datetime.datetime(2020, 7, 19, 11, 22, 49))

In [9]:
cursor.fetchone()

In [10]:
cursor.execute(sql)

8

In [11]:
cursor.fetchall()

(('001',
  'Jay',
  '001',
  50,
  'M',
  56000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('002',
  'Jenny',
  '001',
  30,
  'F',
  47000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('003',
  'Rick',
  '002',
  45,
  'M',
  50000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('004',
  'David',
  '003',
  47,
  'M',
  45000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('005',
  'Jake',
  '002',
  32,
  'M',
  55000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('006',
  'Abby',
  '001',
  25,
  'F',
  40000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('007',
  'Trump',
  '003',
  80,
  'M',
  90000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('008',
  'Eric',
  '001',
  26,
  'M',
  85000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)))

In [12]:
cursor.fetchall()

()

In [13]:
cursor.execute(sql)
data = cursor.fetchall()

In [14]:
data

(('001',
  'Jay',
  '001',
  50,
  'M',
  56000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('002',
  'Jenny',
  '001',
  30,
  'F',
  47000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('003',
  'Rick',
  '002',
  45,
  'M',
  50000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('004',
  'David',
  '003',
  47,
  'M',
  45000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('005',
  'Jake',
  '002',
  32,
  'M',
  55000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('006',
  'Abby',
  '001',
  25,
  'F',
  40000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('007',
  'Trump',
  '003',
  80,
  'M',
  90000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('008',
  'Eric',
  '001',
  26,
  'M',
  85000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)))

In [15]:
data

(('001',
  'Jay',
  '001',
  50,
  'M',
  56000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('002',
  'Jenny',
  '001',
  30,
  'F',
  47000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('003',
  'Rick',
  '002',
  45,
  'M',
  50000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('004',
  'David',
  '003',
  47,
  'M',
  45000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('005',
  'Jake',
  '002',
  32,
  'M',
  55000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('006',
  'Abby',
  '001',
  25,
  'F',
  40000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('007',
  'Trump',
  '003',
  80,
  'M',
  90000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)),
 ('008',
  'Eric',
  '001',
  26,
  'M',
  85000,
  datetime.datetime(2020, 7, 19, 11, 22, 49)))

In [16]:
cursor.close()
conn.close()